@font-face {
     font-family: dfds-light;
     src: url('Font/dfds-light.ttf');

}

    * { font-family: dfds-light, sans-serif; }

header {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
    flex-grow: 1;
        background-color: white;
        margin: 0 auto;
        padding: 1em;
        box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}


fieldset {
        background-color: white;
        margin: 0 auto;
        padding: 1em;
        box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}



section {
    margin: auto;
    padding-top: 7em;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
    justify-content: center;

}


input {
    display:block;
    width: 100%;
    padding: 1em 2em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

button {
    float: right;
    background-color: rgb(246,134,31);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

fieldset {




  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;

}

.registreren {
    max-width: 200px;

}

.login {
    max-width: 200px;

}




body {
    background-color: rgb(238,240,241);
}

h1 {
    color: navy;
    margin-left: 2em;

}

    p, h1, h2, h3 {
    max-width: 30em;
}

@media (max-width: 25em) {

    img{
        widht:3em;
        height: 3em;
    }


 section {
    margin: auto;
    padding-top: 1em;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
    justify-content: center;

}

}
}


