@font-face {
     font-family: dfds-light;
     src: url('Font/dfds-light.ttf');

}

    * { font-family: dfds-light, sans-serif;
     }

body {
    background-color: rgb(238,240,241);

}

header {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
    flex-grow: 1;
        background-color: white;
        margin: 0 auto;
        padding: 1em;
        box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}



.container1 {


     display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
    flex-grow: 1;
}

.container2 {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
    flex-grow: 1;

}

aside {
  background: white;
  padding: 2rem;
  min-width: 15em;

  margin-top: 2rem;
}

.container1>img {

margin-top: 2rem;
}

article {
    max-width: 30em;
    min-width: 10em;
    order: 3;
    padding: 1rem;
    background-color: white;
    margin: 2em;

}

article>p {
    max-width: 55em:
}

nav {
  background: white;
  padding: 2rem;
  min-width: 10rem;
  margin-top: 2rem;

}

.items {
  overflow: hidden; /* simple clearfix */
}
.items .item {
    flex: 1 0 25%;
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 2em;
}


h1 {
    padding: 1rem;
    background-color: white;
    margin: 1rem;

}

.input[type=text] {
    width: 10em;
    height: 2em;
}

  @media (max-width: 50em) {



.items {
  overflow: hidden; /* simple clearfix */
}

.items .item {
flex: 0 0 0%;
    float: none;
  width: 20%;
  box-sizing: border-box;
  padding: 1em;


flex-direction: column;

  box-sizing: border-box;
  padding: 2em;
}
}

@media (max-width: 90em) {

 .container1>img{
     display: none;

}
}



